 /* 

    font-family: 'Crete Round', serif;

    font-family: 'Patua One', cursive;

 */

body {
	background-image: url("../res/ep_naturalblack.png");
	/*	image lisenced under
	CC BY-SA 3.0
	https://www.toptal.com/designers/subtlepatterns/ep-natural-black/ */
	background-color: black;
	Color: #bfbec4;
	margin: 0;
}

h1 {
	font-family: 'Patua One';
	font-size: 5vw;
	margin: 0;
}

p {
	color: white;
}

#mainTitle {
	display: flex;
	align-items: center;
}

.circle {
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	background-color: #bfbec4;
	margin-top: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;
}

#mainTitleOne {
}

.mainTitleTwo {
	font-family: 'Patua One';
}

.mainTitleTwo::before {
	font-size: 5vw;
	content: "me";
}

.mainTitleTwo:hover::before {
	content: "xyz";
}
#centrePage {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#titleQ:hover {
	color: #ee4035;
}
#titleU:hover {
	color: #f37736;
}
#titleA:hover {
	color: #fdf498;
}
#titleS:hover {
	color: #7bc043;
}
#titleI:hover {
	color: #0392cf;
}
#titleD:hover {
	color: #3d1e6d;
}
#titleO:hover {
	color: #2e003e;
}


